
<div class="modal fade"
     id="edituser"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">UserID</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">Password</label>
                                <input type="password" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">First Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">Last Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Manager</label>
                                <select id="inputState" class="form-control">
                                    <option selected="">Select</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputDate">Email</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Type</label>
                                <select id="inputState" class="form-control">
                                    <option selected="">Client Administrator</option>
                                    <option>System Administrator</option>
                                    <option>Prepaid Legal</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Active</label>
                                <select id="inputState" class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Dashboard User</label>
                                <select id="inputState" class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Attorney</label>
                                <select multiple="multiple" class="multiselect">
                                    <option value="jQuery">jQuery Tutorials</option>
                                    <option value="Bootstrap">Bootstrap Framework</option>
                                    <option value="HTML">HTML</option>
                                    <option value="CSS">CSS</option>
                                    <option value="Angular">Angular</option>
                                    <option value="Angular">javascript</option>
                                    <option value="Java">Java</option>
                                    <option value="Python">Python</option>
                                    <option value="MySQL">MySQL</option>
                                    <option value="Oracle">Oracle</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Show HR Section</label>
                                <select id="inputState" class="form-control">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Client</label>
                                <select id="inputState" class="form-control">
                                    <option>Select</option>
                                    <option>ABF Printing</option>
                                    <option>Action Advertising and Flags</option>
                                    <option>Ad Specialties by ken</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputState">Region</label>
                                <select multiple="multiple"  class="multiselect">
                                    <option value="jQuery">jQuery Tutorials</option>
                                    <option value="Bootstrap">Bootstrap Framework</option>
                                    <option value="HTML">HTML</option>
                                    <option value="CSS">CSS</option>
                                    <option value="Angular">Angular</option>
                                    <option value="Angular">javascript</option>
                                    <option value="Java">Java</option>
                                    <option value="Python">Python</option>
                                    <option value="MySQL">MySQL</option>
                                    <option value="Oracle">Oracle</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputState">Form(s)</label>
                                <select multiple="multiple"  class="multiselect">
                                    <option value="jQuery">jQuery Tutorials</option>
                                    <option value="Bootstrap">Bootstrap Framework</option>
                                    <option value="HTML">HTML</option>
                                    <option value="CSS">CSS</option>
                                    <option value="Angular">Angular</option>
                                    <option value="Angular">javascript</option>
                                    <option value="Java">Java</option>
                                    <option value="Python">Python</option>
                                    <option value="MySQL">MySQL</option>
                                    <option value="Oracle">Oracle</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Update Privileges</label>
                                <select id="inputState" class="form-control">
                                    <option>Add/Change Only</option>
                                    <option>Read-Only</option>
                                    <option>Add/Change/Delete</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Password Expires</label>
                                <p class="for-bold">1/1/2015</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>