@{
    ViewBag.Title = "Edit Profile";
}
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="">UserID</label>
            <p class="for-bold">test1234</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Password</label>
            <a href="" class="anchor-design d-block">Change Password</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">First Name</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Last Name</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Telephone</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Address1</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Address"></textarea>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Address2</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Address"></textarea>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">City</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">State</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Postal Code</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Manager</label>
            <select class="form-control">
                <option selected="">Select</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>All States</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Email</label>
            <input type="email" class="form-control">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Type</label>
            <select class="form-control">
                <option selected="">Select</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>All States</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Active</label>
            <select class="form-control">
                <option selected="">Yes</option>
                <option>No</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Dashboard User</label>
            <select class="form-control">
                <option selected="">Yes</option>
                <option>No</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Attorney</label>
            <select id="boot-multiselect-demo21" multiple="multiple">
                <option value="jQuery">jQuery Tutorials</option>
                <option value="Bootstrap">Bootstrap Framework</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Angular">Angular</option>
                <option value="Angular">javascript</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="MySQL">MySQL</option>
                <option value="Oracle">Oracle</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Region</label>
            <select id="boot-multiselect-demo22" multiple="multiple">
                <option value="jQuery">jQuery Tutorials</option>
                <option value="Bootstrap">Bootstrap Framework</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Angular">Angular</option>
                <option value="Angular">javascript</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="MySQL">MySQL</option>
                <option value="Oracle">Oracle</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Form(s)</label>
            <select id="boot-multiselect-demo23" multiple="multiple">
                <option value="jQuery">jQuery Tutorials</option>
                <option value="Bootstrap">Bootstrap Framework</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Angular">Angular</option>
                <option value="Angular">javascript</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="MySQL">MySQL</option>
                <option value="Oracle">Oracle</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDate">Update Privileges</label>
            <select class="form-control">
                <option selected="">Yes</option>
                <option>No</option>
            </select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="">Password Expiration Date</label>
            <p class="for-bold">1/1/2015</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="clearfix">
            <button type="submit" class="btn btn-primary float-right ml-2 mb-2 document-search-btn">
                Update
            </button>
        </div>
    </div>
</div>

