
<div class="table-responsive">
    <table id="managemylogin"
           class="display table dataTable table-striped layout-primary table-bordered document-center-table">
        <thead>
            <tr>
                <th></th>
                <th>Company</th>
                <th>Name</th>
                <th>Manager</th>
                <th>Level</th>
                <th>Access</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>ABF Printing</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Jim Anzia</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>

            <tr>
                <td>
                    <a href=""
                       class="anchor-design"
                       data-toggle="modal"
                       data-target="#edituser">Edit</a>
                </td>
                <td>Mark Baggio</td>
                <td>Omid Agahi</td>
                <td></td>

                <td>Client Administrator</td>
                <td>Add/Change Only</td>
            </tr>
        </tbody>
    </table>
</div>