<form>
    <div class="form-group">
        <label for="inputState">Client</label>
        <select id="inputState" class="form-control">
            <option selected="">All</option>
            <option>ABF Printing</option>
            <option>Action Advertising and Flags</option>
            <option>Ad Specialties by ken</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputState">Request Type</label>
        <select id="inputState" class="form-control">
            <option selected="">All</option>
            <option>ABF Printing</option>
            <option>Action Advertising and Flags</option>
            <option>Ad Specialties by ken</option>
        </select>
    </div>
    <div class="clearfix">
        <button type="submit"
                class="btn btn-primary float-right ml-2 mb-2 document-search-btn">
            Search
        </button>
    </div>
</form>