<div class="table-responsive">
    <table id="requestserviceresult" class="display table dataTable table-striped layout-primary table-bordered document-center-table request-services-table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Request</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Exceptional Advertising Specialties Inc</td>
                <td>Account Collection</td>
                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Action Advertising and Flags</td>
                <td>Account Collection</td>
                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Ad Specialties by ken</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>AD-MERICA Corporation</td>
                <td>Account Collection</td>
                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>PromoCentric</td>
                <td>Account Collection</td>
                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Promology101</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>PromoWorks, Inc.</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Raney Ent./T-Shirt Express</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>AD-MERICA Corporation</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Branding Services Inc</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Branding Services Inc</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Corporate Specialties dba rpromos</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Faux Pas Prints</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Signarama Buford</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Signature Printing & Consulting</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Faux Pas Prints</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Spartan Promotional Group</td>
                <td>Account Collection</td>

                <td>
                    <a href="/Home/ViewRequest" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Summit Event Management</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Faux Pas Prints</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>The Print Smith</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>TP Logos, LLC</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Faux Pas Prints</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>The Shamrock Companies</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Trophy House, Inc</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>GACO Sourcing, LLC</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Honeywell International, Inc.</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>UBM Advanstar</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Horizon Promotional Products</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>The Sumner Group</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Unisource Printing Services</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Industry Incentives</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Think Miller Group</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Vintage Business Solutions</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Jay Sigl Developments</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Juice that Brand Promotions</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>KJB Marketing & Promotions</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Sundance Promotions</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>LA Logos and Promos, LLC</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>MAS Promotional Products</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Texas Specialties</td>
                <td>Account Collection</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>McShane's Total Graphic Solutions, Inc.</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>

            <tr>
                <td>Newton Manufacturing Company</td>
                <td>Account Collection</td>

                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Texas Specialties</td>
                <td>Account Collection</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>P and S Promotional Specialties</td>
                <td>Account Collection</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
            <tr>
                <td>Print Copy Design Solutions</td>
                <td>Account Collection</td>
                <td>
                    <a href="" target="_blank" class="anchor-design">
                        View Request
                        <span class="text-decoration-none d-inline-block">
                            &nbsp;(12)
                        </span>
                    </a>
                </td>
                <td>
                    <a href="" target="_blank" class="anchor-design">New</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>