<div class="table-responsive">
    <table id="myDataTable" class="display table dataTable table-striped layout-primary table-bordered document-center-table request-services-table request-table-cus">
        <thead>
            <tr>
                <th>Firm Name</th>
                <th>Contact Name</th>
                <th>Attorney Name</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>