@using WFJ.Web.Models.Enums;
@model WFJ.Models.LocalCounselViewModel

@{
    ViewBag.Title = "Local Counsel";

    int userType = Convert.ToInt32(Session["UserType"]);

}

@*<main>*@
<span id="requestError"> </span>
@Html.DisplayFor(m => m.ErrorMessage)

@*<div class="document-center">
    <div class="container-fluid site-width">*@
<h4 class="mb-4">@Model.localCounselFilterViewModel.FormType</h4>
<div class="row">
    
    <div class="col-md-12 col-xl-12">
        @Html.Partial("~/Views/LocalCounsel/_localCounselSearch.cshtml", Model.localCounselFilterViewModel)
        @Html.Partial("~/Views/LocalCounsel/_localCounselGrid.cshtml")
    </div>
</div>
@*</div>
        </div>
    </main>*@



@section scripts{

    

}