<div class="table-responsive">
    <table id="paymentreport" class="display table dataTable table-striped layout-primary table-bordered document-center-table request-services-table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Customer</th>
                <th>Acct #</th>
                <th>Status</th>
                <th>Assigned Attorney</th>
                <th>Collector</th>
                <th>Payment Date</th>
                <th>Check Number</th>
                <th>Amount</th>
                <th>Payment Type</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>