<div class="table-responsive">
    <table id="myDataTable" class="display table dataTable table-striped layout-primary table-bordered document-center-table request-services-table">
    </table>
</div>