@model WFJ.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int userType = Convert.ToInt32(Session["UserType"]);
}
<div>
    <main>
        <div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-4 col-xl-3 pull-right">
                    <label for="ddlClient" class="pull-right" style="font-size:18px">Form Type:</label>
                </div>
                <div class="col-md-8 col-xl-9">
                    @Html.DropDownList("ddlLocalCounselState", new SelectList(Model.DashbaordFilter, "Value", "Text", Model.FormId), new { @Class = "form-control houseCounselOther" ,@style="width:500px"})
                </div>
            </div>
        </div>
        <div class="container-fluid site-width">
            
                @if (userType == (int)WFJ.Service.Model.UserType.ClientAdministrator || userType == (int)WFJ.Service.Model.UserType.ClientManager || userType == (int)WFJ.Service.Model.UserType.ClientUser)
                {
                @Html.Partial("_clientDashboard", Model.ClientDashboard)
                }

                @if (userType == (int)WFJ.Service.Model.UserType.WFJUser)
                {
                @Html.Partial("_userDashboard", Model.UserDashboard)
                }

                @if (userType == (int)WFJ.Service.Model.UserType.SystemAdministrator)
                {
                @Html.Partial("_adminDashboard", Model.AdminDashboard)
                }

        </div>
    </main>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#ddlLocalCounselState").change(function () {
                var formId = $(this).val();
                window.location.href = "/Dashboard/Index?formId=" + formId;
            });
            
        });
        $("#recently-open-account").dataTable({
            "sScrollY": 500,
            "bScrollCollapse": true,
            "bPaginate": true,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "paging": true,
            "bSortClasses": false,
            drawCallback: function () {
                var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
                var rowCount = this.fnSettings().fnRecordsDisplay();
                if (rowCount <= 10 || isNaN(rowCount)) {
                    $('.dataTables_length').hide();
                }
            }
        });

        $("#recently-open-client").dataTable({
            "sScrollY": 500,
            "bScrollCollapse": true,
            "bPaginate": true,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "paging": true,
            "bSortClasses": false,
            drawCallback: function () {
                var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
                var rowCount = this.fnSettings().fnRecordsDisplay();
                if (rowCount <= 10 || isNaN(rowCount)) {
                    $('.dataTables_length').hide();
                }
            }
        });

        $("#action-required").dataTable({
            "sScrollY": 500,
            "bScrollCollapse": true,
            "bPaginate": true,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bSortClasses": false,
            "paging": true,
            drawCallback: function () {
                var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
                var rowCount = this.fnSettings().fnRecordsDisplay();
                if (rowCount <= 10 || isNaN(rowCount)) {
                    $('.dataTables_length').hide();
                }
            }
        });

        $("#final-demand-required").dataTable({
            "sScrollY": 500,
            "bScrollCollapse": true,
            "bPaginate": true,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bSortClasses": false,
            "paging": true,
            drawCallback: function () {
                var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
                var rowCount = this.fnSettings().fnRecordsDisplay();
                if (rowCount <= 10 || isNaN(rowCount)) {
                    $('.dataTables_length').hide();
                }
            }
        });

        $("#approved-payment").dataTable({
            "sScrollY": 500,
            "bScrollCollapse": true,
            "bPaginate": true,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bSortClasses": false,
            "paging": true,
            drawCallback: function () {
                var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
                var rowCount = this.fnSettings().fnRecordsDisplay();
                if (rowCount <= 10 || isNaN(rowCount)) {
                    $('.dataTables_length').hide();
                }
            }
        });
    </script>
    }